@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Review Assignment
   
   Design Style Sheet for Tree and Book Family Home Page
   Author: Ayla Gwizdak
   Date:   1/10/2022
   
   Filename: tb_visual3.css

*/

/* HTML Styles */
html {
  background-image: url("tb_back5");
}


/* Page Body Styles */
body {
  border-left: 3px solid rgb(169, 130, 88);
  border-right: 3px solid rgb(169, 130, 88);
  box-shadow: 25px 0px 35px 0px rgb(53,21, 0),
              -25px 0px 35px 0px rgb(53,21,0);
}


/* Main Styles */
main {
  background-image: url("tb_back7.png");
  background-size: 100%;
  background-repeat: no-repeat;

  box-shadow: inset -10px -10px 25px 0px rgb(71,71,71),
              inset 10px 10px 25px 0px rgb(71,71,71);
}

main h1 {
  text-shadow: 1px 1px 0px rgb(221,221,221),
               5px 5px 20px rgba(41,41,41,.09);
}


/* Figure Box Styles */
figure {
  margin: 10px auto;
  width: 70%;
}

figure img {
  border-image-source: url("tb_frame.png");
  border-image-slice: 60px;
  border-image-width: 25px;
  border-width: 25px;
  width: 100%;
  filter:sepia(80%);
  -webkit-filter: sepia(80%);
}

figure figcaption {
  font-style: italic;
  padding: 10px 0px;
  text-align: center;
  font-family: "Palatino Linotype", Palatino, "Times New Roman", serif;
}


/* Article Styles */
article {
  background-image: url("tb_back6.png");
  background-position: bottom right;
  background-size: 15%;
  background-repeat: no-repeat;

  border-right: 8px double rgb(147,116,68);
  border-bottom: 8px double rgb(147,116,68);
  border-bottom-right-radius: 80px;
  box-shadow: inset -10px -10px 25px rgba(184,154,112,.7);
}


/* Footer Styles */
footer {
  background: linear-gradient(325deg, rgb(180,148,104) 20%, rgb(40,33,23) 60%);
}
